.menu {
    background-color: var(--Cor1);
    position: sticky;
    top: 0;
    border: none;
    padding: 5px 2px;
    display: block;
    z-index: 2;
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.113);
    overflow: hidden;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.logo-menu {
    background-image: url('../imgs/logo_otica_imagem-menu.png');
    height: 50px;
    width: 130px;
    margin-left: -8px;
    background-position: center;
    background-size: cover;
}

.btn-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    margin-right: 20px;
}

.menu-desktop-content {
    display: none;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 20px;
    gap: 10px;
}

.menu-desktop-content>a {
    color: var(--Cor2);
    text-decoration: none;
    display: flex;
    font-size: 14px;
    height: 40px;
    align-items: center;
    padding: 0px 15px;
    text-align: center;
    border-radius: 5px;
    transition: all .3s;
}

.menu-desktop-content > a.active{
    background-color: var(--Cor2);
    color: var(--Cor1);
}

@media screen and (min-width:500px) {
    .btn-menu {
        display: none;
    }

    .menu-desktop-content {
        display: flex;
    }
}

@media (hover: hover) and (pointer: fine) {
    .menu-desktop-content>a:hover {
        background-color: var(--Cor2);
        color: var(--Cor1);
    }

    .menu-mobile-content>.itens-menu-mobile>a:hover{
        transform: scale(1.2);
        opacity: .7;
    }
}

.btn-menu div {
    background-color: var(--Cor2);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    transition: .3s;
}

.btn-menu div.line2 {
    width: 27px;
    transform: translateX(48%);
}

.menu-mobile-content {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--Cor1);
    padding-top: 0px;
    height: 0px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    z-index: 2;
    overflow: hidden;
    transition: all .5s;
}

.itens-menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-mobile-content>.itens-menu-mobile>a {
    color: var(--Cor2);
    text-decoration: none;
    font-size: 23px;
    padding-bottom: 15px;
    width: 80vw;
    text-align: center;
}

.item-menu {
    opacity: 0;
    transform: translateY(35px);
    transition: all .5s;
}

.item-menu.active {
    opacity: 1;
    transform: translateY(0px);
}

.btn-menu-close {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    margin-right: 20px;
    width: 50px;
    margin: auto;
}

.btn-menu-close div {
    background-color: var(--Cor2);
    width: 35px;
    height: 3px;
    border-radius: 5px;
    transition: .3s;
}

.menu-mobile-content.active {
    opacity: 1;
    height: 102vh;
}

.menu-mobile-content>.itens-menu-mobile>a:active{
    transform: scale(1.2);
    opacity: .7;
}