.section-home{
    background-image: url('../imgs/background-inicio-mobile.jpg ');
    background-position: center;
    background-size: cover;
    height: 550px;
}

@media screen and (min-width:330px) {
    .section-home{
        height: 500px;
    }

    .tile-content-home{
        height: 200px;
    }

    .left-content-home{
        height: 200px;
    }
}


@media screen and (min-width:600px) {
    .section-home{
        height: 400px;
        background-image: url('../imgs/background-inicio.jpg ');
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tile-content-home{
        height: 400px;
        width: 300px;
    }

    .left-content-home{
        width: 300px;
        margin-left: 40px;
    }
}



.left-content-home{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.tile-content-home{
    height: 230px;
    width: 80vw;
    background: rgba(117, 117, 117, 0);
    box-shadow: 0 8px 32px 0 rgba(187, 156, 136, 0.37);
    backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
}

.tile-content-home > h1 {
    color: var(--LaranjaClaro);
    text-align: left;
    font-size: 20px;
}

.tile-content-home > p {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
}

.right-content-home{
    width: 400px;
    height: 50px;
}