.section-home {
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 40px;
    margin-bottom: 230px;
}

.separetor-home {
    width: 99vw;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

@media screen and (min-width:400px) {
    .separetor-home {
        padding: 0px 40px;
    }
}


@media screen and (min-width:1140px) {

    .section-home {
        height: 600px;
        flex-direction: row;
        justify-content: center;
        gap: 0px;
    }

    .tile-content-home {
        width: 40vw;
        max-width: 650px;
        margin-left: 5vw;
        height: 400px;
    }

    .tile-content-home>h1 {
        font-size: 40px;
    }
}

.tile-content-home {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 20px;
}

@media screen and (max-width:1140px) {
    .tile-content-home {
        max-width: 500px;
    }
}

.tile-content-home>h1 {
    color: var(--Cor2);
    text-align: left;
}

.tile-content-home>p {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
}

.tile-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    max-width: 500px;
}

.tile-image>div {
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 32px 0 rgba(187, 156, 136, 0.37);
    cursor: pointer;
    width: 35vw;
    max-width: 200px;
    height: 200px;
}

.img-1 {
    background-image: url('../imgs/mulher-1.png');
}


.img-2 {
    background-image: url('../imgs/homem-1.png');
}

.img-3 {
    background-image: url('../imgs/mulher-3.png');
}


.section-content {
    width: 99vw;
    margin: auto;
    margin-top: 150px;
    overflow-x: hidden;
}

.title-section {
    padding-bottom: 25px;
    width: 80vw;
    margin: auto;
}

.title-section>h1 {
    text-align: center;
    color: var(--Cor2);
    margin-bottom: 20px;
}

.title-section p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify
}


.card {
    background-color: white;
    border: 1px solid black;
    padding: 25px;
    background: rgba(254, 254, 254, 0.037);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1), 0 1px 8px rgba(0, 0, 0, .2);
    border-radius: 25px;
    max-width: 350px;
}

.content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    max-width: 600px;
}

.content-section-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 700px;
}

#content-img1 {
    background-image: url('../imgs/homem-3-small.png');
    background-position: center;
    background-size: cover;
}

#content-img2 {
    background-image: url('../imgs/mulher-5-small.png');
    background-position: center;
    background-size: cover;
}

@media screen and (min-width:400px) {
    #content-img1 {
        background-image: url('../imgs/homem-3.png');
    }

    #content-img2 {
        background-image: url('../imgs/mulher-5.png');
    }
}


@media screen and (min-width:800px) {
    .content-section-title {
        height: 300px;
    }

    #content-img1 {
        background-image: url('../imgs/homem-3-desktop.png');
        background-position: right;
        background-size: contain;
    }
}