.section-home {
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 40px;
}

.separetor-home{
    width: 99vw;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

@media screen and (min-width:400px ){
    .separetor-home{
        padding: 0px 40px;
    }
}


@media screen and (min-width:1140px) {

    .section-home {
        height: 600px;
        flex-direction: row;
        justify-content: center;
        gap: 0px;
    }

    .tile-content-home {
        width: 40vw;
        max-width: 650px;
        margin-left: 5vw;
        height: 400px;
    }

    .tile-content-home>h1 {
        font-size: 40px;
    }

    .tile-content-home>p {
        font-size: 16px;
        line-height: 25px;
    }

}

.tile-content-home {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 20px;
}

@media screen and (max-width:1140px) {
    .tile-content-home {
        max-width: 500px;
    }
}

.tile-content-home>h1 {
    color: var(--LaranjaClaro);
    text-align: left;
}

.tile-content-home>p {
    text-align: left;
}

.tile-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    max-width: 500px;
}

.tile-image>div {
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 32px 0 rgba(187, 156, 136, 0.37);
    cursor: pointer;
    width: 38vw;
    max-width: 200px;
    height: 200px;
}

.img-1 {
    background-image: url('../imgs/mulher-1.png');
}


.img-2 {
    background-image: url('../imgs/mulher-2.png');
}

.img-3 {
    background-image: url('../imgs/mulher-3.png');
}