@font-face {
    font-family: 'Roboto';
    src: url('../fonts/font-robot/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --Cor1: #262223;
    --Cor2: #F26E22;
    --Cor3: #c75c1f;
    --Cor4: #BF5B21;
    --Cor5: #733E20;
    --Cor6: #402C20;
    --CorBordaSeparador: rgba(255, 255, 255, 0.634)
}

body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(201, 201, 201);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 3px solid var(--Cor2);
}

h1 {
    font-size: 30px;
    color: var(--Cor2);
}

main{
    overflow: hidden;
}

@media screen and (min-width:600px) {
    h1 {
        font-size: 35px;
    }
}

.menu-fixo {
    background-color: var(--Cor1);
    padding: 5px 2px;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-itens-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 20px;
}

.menu-itens-final {
    display: none;
    gap: 25px;
    font-size: 18px;
    padding-right: 25px;

}

@media screen and (min-width:500px) {
    .menu-itens-initial {
        justify-content: start;
    }

    .menu-fixo {
        justify-content: space-between;
    }

}

@media screen and (min-width:500px) {

    .menu-itens-final {
        display: flex;
    }

}


.link-menu-item {
    display: flex;
    text-decoration: none;
    color: var(--Cor2);
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all .5s;
}

@media (hover: hover) and (pointer: fine) {
    .link-menu-item:hover {
        opacity: 0.7;
    }

    .btn-primary:hover {
        transform: scale(1.1);
        box-shadow: 0px 02px 25px #f26e2276;
    }
}


.info-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Cor2);
}

.info-menu>a {
    font-size: 12px;
}

.divider {
    border: 1px solid var(--CorBordaSeparador);
    height: 20px;
}

.remove-scrolling {
    height: 100%;
    overflow: hidden;
}

.btn-primary {
    background-image: linear-gradient(to right top, var(--Cor2), var(--Cor3));
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 02px 12px #f26e2276;
    user-select: none;
    transition: all .3s;
}

.btn-primary:active {
    transform: scale(1.1);
    box-shadow: 0px 02px 25px #f26e2276;
}