@font-face {
    font-family: 'Roboto';
    src: url('../fonts/font-robot/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --Preto: #262223;
    --LaranjaClaro: #F26E22;
    --MarromClaro: #BF5B21;
    --Marrom: #733E20;
    --MarromEscuro: #402C20;
    --CorBordaSeparador: rgba(255, 255, 255, 0.634)
}

body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(201, 201, 201);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 3px solid var(--LaranjaClaro);
}

.menu-fixo {
    background-color: var(--Preto);
    padding: 10px 5px;
    margin-bottom: -5px;
}

.menu-itens-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
}

@media screen and (min-width:500px) {
    .menu-itens-initial {
        justify-content: start;
    }
}

.info-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--LaranjaClaro);
    gap: 8px;
}

@media screen and (min-width:350px) {
    .menu-itens-initial {
        gap: 35px;
    }
}

.info-menu>p {
    font-size: 14px;
}

.divider {
    border: 1px solid var(--CorBordaSeparador);
    height: 20px;
}

.remove-scrolling {
    height: 100%;
    overflow: hidden;
}